.navbar {
  width: 100%;
  padding: 2rem;

  &__brand {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    transition: all 0.3s linear;

    &:hover {
      color: #29d;
      text-decoration: none;
    }
  }
  .opened {
    span {
      position: relative;

      &:nth-child(1) {
        animation: down 0.5s linear both;
        transform-origin: 50%;
      }
      &:nth-child(2) {
        animation: shorten 0.5s linear both;
        transform-origin: 50%;
      }
      &:nth-child(3) {
        animation: up 0.5s linear both;
        transform-origin: 50%;
      }
    }
  }

  .toggle-container {
    cursor: pointer;
    position: relative;
    z-index: 99999;
    width: 45px;
    height: 45px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    mix-blend-mode: m;

    &-span {
      width: 20px;
      height: 3px;
      background-color: #29d;
      margin: 2px 0;
      isolation: isolate;
    }
  }
}
.menu-layer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #000;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &-menu {
  }
  &-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
  }
  &-list {
    width: 100%;
    padding: 1rem;
  }
  &-link {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    mix-blend-mode: initial;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 1;
    &:hover {
      text-decoration: none;
      transition: all 0.3s linear;
      color: #29d;
    }
  }
}
.show {
  animation: show 0.5s linear both;
}

@keyframes down {
  from {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(7px);
  }
  to {
    transform: translateY(7px) rotate(-45deg);
  }
}
@keyframes up {
  from {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-7px);
  }
  to {
    transform: translateY(-7px) rotate(45deg);
  }
}
@keyframes shorten {
  from {
    width: 15px;
  }
  to {
    width: 0px;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}
