@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./_fonts";
@import "./_navbar";
@import "./_nprogress";
@import "./_index";
html,
body {
  font-family: "Montserrat", "Helvetica", sans-serif !important;
}
html {
}
body {
  position: relative;

  background-image: url("../public/images/conf.svg");
  background-size: cover;
}
.absolute {
  position: absolute;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
main {
  width: 100%;
  display: flex;
  justify-content: center;
}
